<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @teacher_review.rating %>
</p>

<p>
  <b>Comments:</b>
  <%= @teacher_review.comments %>
</p>

<p>
  <b>Teacher:</b>
  <%= @teacher_review.teacher_id %>
</p>


<%= link_to 'Edit', edit_teacher_review_path(@teacher_review) %> |
<%= link_to 'Back', teacher_reviews_path %>
